* {box-sizing: border-box;}

body {
    background-color: #d1e8e2;
    color: #2c3531;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    margin 0;
}

.container {
    width: 82%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.info {
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.customerInfo {
    margin-left: 150px;
    overflow: hidden;
    float: left;
    text-align: left;
}

.vehicleInfo {
    margin-right: 150px;
    overflow: hidden;
    float: right;
    text-align: left;
}

.licenceInfo {
    display: inline-block;
    margin-top: 15px;
    overflow: hidden;
}

.back-area {
    width: 82%;
    margin: auto;
    overflow: hidden;
}

.showcase {
    margin: auto;
    width: 82%;
    height: 300px;
    background-image: url("../images/showcase2.jpg");
}

.button-area {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #116466;
    width: 25%;
    height: 30px;

}

.button-area:hover {
    background-color: #0e4e4f;
}

.button-area a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.main-footer {
    margin-top: 100px;
    background-color: #d9b08c;
    width: 100;
    height: 70px;
}

.main-footer .container {
    margin-top: 15px;
    font-size: 15px;
    color: #2c3531;
}

.content-table {
    border-collapse: collapse;
    margin: 20px auto;
    min-width: 400px;
}

.content-table thead tr {
    background-color: #116466;
    color: black;
}

.content-table th,
.content-table td {
    padding: 5px;
}

.content-table tbody tr {
    text-align: center;
}

.content-table tbody tr:nth-child(even) {
    background-color:#aec2bd;
}

.content-table tbody tr:nth-child(odd) {
    background-color: #d1e8e2;
}

.btn {
    text-decoration: none;
    margin: 15px 0px;
    background-color: #116466;
    padding: 10px;
    border: none;
    box-shadow: 0 3px 0 #0e4e4f;
}

.btn:hover{
    text-decoration: none;
    margin: 15px 0px;
    background-color: #0e4e4f;
    padding: 10px;
    border: none;
    box-shadow: 0 3px 0 #0e4e4f;
}

.create-form {
    text-align: center;
    font-size: 0.8em;
}

.create-form .label-input {
    padding-bottom: 15px;

}

.create-form .radiogroup {
    padding-bottom: 15px;
}

.create-form input {
    padding: 8px;
}

.create-form input[type="submit"] {
    padding: 15px 30px;
    border: none;
    box-shadow: 0 5px 0 #0e4e4f;
    background-color: #116466;
    font-size: 1em;
}

#logo {
    float: center;
}

.search-bar {
    overflow: hidden;
    background-color: #d9b08c;
}

.search-bar .search-container {
    float: center;
}

.search-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 400px;
    font-size: 17px;
    border: none;
}

.search-bar .search-container button {
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-bar .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-bar .search-container {
        float: none;
    }
    .search-bar a, .search-bar input[type=text], .search-bar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .search-bar input[type=text] {
        border: 1px solid #ccc;
    }
}

.container .back-button {
     float: left;
}
