body {
    background-color: #d1e8e2;
    color: #2c3531;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    margin 0;
}

.container {
    width: 82%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.showcase {
    margin: auto;
    width: 82%;
    height: 300px;
    background-image: url("../images/showcase2.jpg");
}

.button-area {
    margin-top: 10px;
    margin: auto;
    background-color: #116466;
    width: 25%;
    height: 30px;

}

.button-area:hover {
    background-color: #0e4e4f;
}

.button-area a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.main-footer {
    margin-top: 100px;
    background-color: #d9b08c;
    width: 100;
    height: 70px;
}

.main-footer .container {
    margin-top: 15px;
    font-size: 15px;
    color: #2c3531;
}

.content-table {
    border-collapse: collapse;
    margin: 20px auto;
    min-width: 400px;
}

.content-table thead tr {
    background-color: #116466;
    color: black;
}

.content-table th,
.content-table td {
    padding: 5px;
}

.content-table tbody tr {
    text-align: center;
}

.content-table tbody tr:nth-child(even) {
    background-color:#aec2bd;
}

.content-table tbody tr:nth-child(odd) {
    background-color: #d1e8e2;
}

.btn {
    margin: 15px 0px;
    background-color: #116466;
    padding: 10px;
    border: none;
    box-shadow: 0 3px 0 #0e4e4f;
}

.create-form {
    text-align: center;
    font-size: 0.8em;
}

.create-form .label-input {
    padding-bottom: 15px;

}

.create-form .radiogroup {
    padding-bottom: 15px;
}

.create-form input {
    padding: 8px;
}

.create-form input[type="submit"] {
    padding: 15px 30px;
    border: none;
    box-shadow: 0 5px 0 #0e4e4f;
    background-color: #116466;
    font-size: 1em;
}

#logo {
    float: center;
}


