<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1>Nordic Motorhome Rental</h1>
            <img th:src="@{/logo.png}" alt="Logo" id="logo" />
        </div>
    </header>

    <section class="showcase">
        <div class="container">
           <h2>Main Menu</h2>
        </div>
    </section>

    <section class="main-section">
        <div class="container">
            <div class="button-area">
                <a href="../vehicle/vehicleMenu" id="link1">Vehicles</a>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="container">
            <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
        </div>
    </footer>
</body>
</html>