<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Vehicle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="main-header">
    <div class="container">
        <h1>Nordic Motorhome Rental</h1>
        <img th:src="@{/logo.png}" alt="Logo" id="logo" />
    </div>
</header>

<section class="showcase">
    <div class="container">
        <h2>Add a new customer</h2>
    </div>
    <a href="#" id="home"></a>
</section>

<section class="main-section">
    <div class="container">
        <form class="create-form" action="/customer/createCustomer" method="post">
            <div class="label-input">
                <label for="firstName">First Name</label><br>
                <input type="text" id="firstName" name="firstName" required>
            </div>

            <div class="label-input">
                <label for="LastName">Last Name</label><br>
                <input type="text" id="lastName" name="lastName" required>
            </div>

            <div class="label-input">
                <label for="phoneNo">Phone number</label><br>
                <input type="text" id="phoneNo" name="phoneNumber" required>
            </div>


            <div class="label-input">
                <label for="email">Email</label><br>
                <input type="number" id="email" name="email" required>
            </div>

            <div class="label-input">
                <label for="addressDetails">Address details</label><br>
                <input type="text" id="addressDetails" name="AddressDetails" required>
            </div>

            <div class="label-input">
                <label for="city">Registration date</label><br>
                <input type="text" id="city" name="city" required>
            </div>

            <div class="label-input">
                <label for="country">Registration date</label><br>
                <input type="text" id="country" name="country" required>
            </div>

            <div class="label-input">
                <label for="state">Registration date</label><br>
                <input type="text" id="state" name="state" >
            </div>

            <div class="label-input">
                <label for="zip">Registration date</label><br>
                <input type="text" id="zip" name="zip" required>
            </div>

            <input type="submit" value="Add Vehicle">
        </form>
    </div>
</section>

<footer class="main-footer">
    <div class="container">
        <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
    </div>
</footer>
</body>
