<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Vehicle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1>Nordic Motorhome Rental</h1>
            <img th:src="@{/logo.png}" alt="Logo" id="logo" />
        </div>
    </header>

    <section class="showcase">
        <div class="container">
            <h2>Update a vehicle</h2>
        </div>
        <a href="#" id="home"></a>
    </section>

    <section class="main-section">
        <div class="container">
            <form class="update-form" action="/vehicle/updateVehicle" method="post">

                <div class="label-input">
                    <label for="odometer">Odometer Information</label><br>
                    <input type="number" id="odometer" name="odometer" required>
                </div>
                <div class="label-input">
                    <label for="repairStatus">Repair Status</label><br>
                    <input type="number" id="repairStatus" name="repairStatus" required>
                </div>

                <input type="submit" value="Update Vehicle">
            </form>
        </div>
    </section>

    <footer class="main-footer">
        <div class="container">
            <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
        </div>
    </footer>
</body>
