<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1>Nordic Motorhome Rental</h1>
        </div>
    </header>

    <section class="showcase">
    </section>

    <section class="main-section">
        <div class="container">
            <h2>Motorhome Fleet</h2>
            <img th:src="@{/images/logo.png}" alt="Logo" id="logo" />
        </div>

        <div class="back-area">
            <a href="/" id="back-button">
                <button class="btn">Back</button>
            </a>
        </div>

        <div class="container">
            <a href="/vehicle/createVehicle" id="createVehicle">
                <button class="btn">Add New Vehicle</button>
            </a>
        </div>



        <div class="container">
            <div class="search-bar">
                <div class="search-container">
                    <form action="/vehicle/vehicleMenu" method="post">
                        <input type="text" id="search" name="search" placeholder="Search" required>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <table class="content-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Beds</th>
                    <th>Registration Number</th>
                    <th>Registration Date</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicle: ${vehicles}">
                    <td th:text="${vehicle.idVehicle}" />
                    <td th:text="${vehicle.brand}" />
                    <td th:text="${vehicle.modelType}" />
                    <td th:text="${vehicle.noBeds}" />
                    <td th:text="${vehicle.regNo}" />
                    <td th:text="${vehicle.regDate}" />
                    <td>
                        <a th:href="@{'/vehicle/viewDetails/'+${vehicle.idVehicle}}">
                            <button class="btn">Details</button>
                        </a>

                        <a th:href="@{'/vehicle/deleteVehicle/'+${vehicle.idVehicle}}">
                            <button class="btn" onclick="return confirm('Do you confirm the deletion of the vehicle?')" >Delete</button>
                        </a>

                        <a th:href="@{'/vehicle/updateVehicle/'+${vehicle.idVehicle}}">
                            <button class="btn" >Edit</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>


    </section>

    <footer class="main-footer">
        <div class="container">
            <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
        </div>
    </footer>
</body>
</html>