<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract Menu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="main-header">
    <div class="container">
        <h1>Nordic Motorhome Rental</h1>
    </div>
</header>

<section class="showcase">
</section>

<section class="main-section">
    <div class="container">
        <h2>Contract List</h2>
        <img th:src="@{/images/logo.png}" alt="Logo" id="logo" />
    </div>

    <div class="back-area">
        <a href="/" id="back-button">
            <button class="btn">Back</button>
        </a>
    </div>

    <div class="container">
        <a href="/customer/createCustomer" id="createContract">
            <button class="btn">Add New Contract</button>
        </a>
    </div>



    <div class="container">
        <div class="search-bar">
            <div class="search-container">
                <form action="/contract/contractMenu" method="post">
                    <input type="text" id="search" name="search" placeholder="Search" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <table class="content-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="contract, iter: ${contractList}">
                <td th:text="${contract.idContract}" />
                <td th:text="${customerList[iter.index].firstName}" />
                <td th:text="${customerList[iter.index].lastName}" />
                <td th:text="${vehicleList[iter.index].brand}" />
                <td th:text="${vehicleList[iter.index].modelType}" />
                <td th:text="${contract.startDate}" />
                <td th:text="${contract.endDate}" />
                <td>
                    <a th:href="@{'/contract/viewDetails/'+${contract.idContract}}">
                        <button class="btn">Details</button>
                    </a>


                    <a th:href="@{'/contract/updateContract/'+${contract.idContract}}">
                        <button class="btn" >Edit</button>
                    </a>

                    <a th:href="@{'/contract/deleteContract/'+${contract.idContract}}">
                        <button class="btn">Cancel</button>
                    </a>

                    <a th:href="@{'/contract/deleteContract/'+${contract.idContract}}">
                        <button class="btn">Checkout</button>
                    </a>

                    <a th:href="@{'/contract/deleteContract/'+${contract.idContract}}">
                        <button class="btn" onclick="return confirm('Do you confirm the deletion of the contract?')" >Delete</button>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</section>

<footer class="main-footer">
    <div class="container">
        <p>Group 5<br>Remi Asher Foss, Max Hektor Balling Merrild, Johan Christoffer Bille, George Ursachi</p>
    </div>
</footer>
</body>
</html>